<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Tour</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>Update Tour</h2>

    <form action="@{/tours/update/{id}(id=${tour.id})}" method="post" th:object="${tour}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">

        <label for="tourName">Tour Name:</label>
        <input type="text" id="tourName" name="tourName" th:field="*{name}" required>

        <label for="summaryDescription">Summary Description:</label>
        <textarea id="summaryDescription" name="summaryDescription" th:field="*{summaryDescription}" required></textarea>

        <label for="estimatedLength">Estimated Length:</label>
        <input type="text" id="estimatedLength" name="estimatedLength" th:field="*{estimatedLength}" required>

        <div th:if="${tour.imagePath}">
            <p>Current Image:</p>
            <img th:src="@{'/' + ${tour.imagePath}}" alt="Current Tour Image" class="image-preview"/>
        </div>

        <label for="image">Change Tour Image:</label>
        <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png" onchange="previewNewImage(this)">

        <img id="newImagePreview" class="image-preview" alt="New Tour Image Preview" style="display:none;">

        <!-- List stops -->
        <div th:each="stop, iterStat : *{stops}">
            <div class="stop-block">
                <!-- Make stop name clickable to view stop details -->
                <p><a th:href="@{/stops/view/{stopId}(stopId=${stop.id})}" th:text="${stop.name}">Stop Name</a></p>
                <p th:text="${stop.stopDescription}">Stop Description</p>
                <!-- ... other stop details ... -->

                <!-- Button to delete the stop -->
                <a th:href="@{/tours/{tourId}/removeStop/{stopId}(tourId=${tour.id}, stopId=${stop.id})}" class="delete-stop-button">Remove Stop</a>
            </div>
        </div>

        <!-- Section to add stops -->
        <div>
            <!-- Add Stop Button for Update Context -->
            <a href="@{/tours/selectStop(context='update')}" class="add-stop-button">Add Stop</a>

        </div>

        <button type="submit" class="save-button">Update Tour</button>
    </form>

    <p><a href="/tours">Back to Tour List</a></p>
</div>

<script th:inline="javascript">
    function previewNewImage(input) {
        var preview = document.getElementById('newImagePreview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                preview.style.display = 'block';
                preview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.style.display = 'none';
        }
    }
</script>

</body>
</html>
