<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${stop.name} + ' Details'">Stop Details</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
    <h1 th:text="${stop.name}">Stop Name</h1>

    <!-- Displaying stop details -->
    <div class="stop-details">
        <p><strong>Description:</strong> <span th:text="${stop.stopDescription}">Description</span></p>
        <p><strong>Address:</strong> <span th:text="${stop.streetAddress}">Street Address</span>,
            <span th:text="${stop.cityName}">City</span>,
            <span th:text="${stop.stateName}">State</span>,
            <span th:text="${stop.zipCode}">Zip Code</span></p>
<!--        <p><strong>Hours of Operation:</strong> <span th:text="${stop.hoursOfOperation}">Hours</span></p>-->
        <p><strong>Rating:</strong> <span th:text="${stop.stopRating}">Rating</span></p>

        <!-- Image display -->
        <img th:src="${stop.imagePath != null ? '/' + stop.imagePath : '/defaultLogo/DefaultLogo.jpg'}" alt="Stop Image" class="stop-image"/>


    </div>

    <!-- Back to Stop List link -->
    <p><a href="/stops" class="back-to-list">Back to Stop List</a></p>

</div>
</body>
</html>
