<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Account Login</title>

        <link th:replace="~{fragments :: user-styles}" />
        <link th:replace="~{fragments :: styles}" />

    </head>
    <body>
        <nav th:replace="~{fragments :: user-nav}"></nav>
        <div id="login-container">
            <h1>Account Login</h1>
            <form method="post">
                <div class="form-group">
                    <label th:for="emailAddress">Email Address: </label>
                    <input th:field="${loginFormDTO.emailAddress}" />
                    <p th:errors="${loginFormDTO.emailAddress}" class="error-class"></p>
                </div>

                <div class="form-group">
                    <label th:for="password">Password: </label>
                    <input th:field="${loginFormDTO.password}" type="password" />
                    <p th:errors="${loginFormDTO.password}" class="error-class"></p>
                </div>

                <div class="form-group">
                    <input type="submit" value="Log-In" />
                    <span style="font-size: 12px; font-style: italic;"><a href="user/password-reset">I forgot my password</a></span>
                </div>
            </form>
            <p>Don't have an account? <a href="./sign-up">Sign Up!</a></p>
        </div>

    </body>
</html>